body{
    background-color: azure;
}

h1{
    background-color: coral;
    margin-right: 110px;
    text-align: center;
    padding: 4px;
    border-radius: 10px;
    border: 3px solid ;
    font-family:sans-serif;
}
table td{
    padding-left: 25px;
    background-color:bisque;
    border: 2px inset ;
    border-color:darkred
}

.bold{
    font-weight: 900px;
}

ol {
    list-style-type: decimal;
    padding: 0;
}

td{
    padding: 10px;
    margin: 0px;
    padding-right: 10px;
}